* {
  margin: 0;
  padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	border-top: 100px;
}

.flex img {
	max-width: 400px;
	margin: 20px 20px 0 20px;
	border-radius: 10px;
	box-shadow: 20px 20px 30px #000000;
	cursor: pointer;
	-webkit-filter:grayscale(0%);
}

.flex h2 {
	text-align: center;
	margin-top: 10px;
}

.flex .prod-descricao {
	text-align: center;
}

.produto_preco {
	text-align: center;
	margin-bottom: 10px;
}

.flex h2:hover {
	font-size: 27px;
}

.flex img:hover {
	-webkit-filter:grayscale(100%);
  transition: 0.5s;
}