/* ---HEADER--- */

* {
  margin: 0;
  padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-logo {
	max-width: 100%;
	height: auto;
	width: 170px;
}

.container {
	width: 80%;
	max-width: 100%;
	padding: 20px 0px;
	margin: 0 auto;
  background-color: #000000;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}

.main-nav a {
	display: inline-block;
	padding: .5em 1.0em;
  text-transform: uppercase;
  color: #c2b59b;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.main-nav a:hover{
  color: #985920;
}

@media (min-width: 960px) {
	.header .container {
		justify-content: space-between;
	}
}

/* ---MAIN--- */

.banner {
	width: 100%;
}

section h3 {
	color: #c2b59b;
}

.mapa{
	padding: 3em 0 3em 0;
	background-color: #000000;
}

.mapa-conteudo{
	width:100%;
	margin: auto;
}

.mapa p{
	margin-bottom: 2em;
	text-align: center;
}

/* ---FOOTER--- */

.texto-footer {
	color: #c2b59b;;
}

footer .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}